{% from 'macros.html' import render_edit_field %}
{% from 'macros.html' import render_field_edit %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>MyJournal</title>
        <link href="https://fonts.googleapis.com/css?family=Cousine:400" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:600" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/site.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" href="{{ url_for('index') }}"><i class="material-icons">library_books </i>Home</a><br>
                    <a href="{{ url_for('new') }}" class="button icon-right" href="new.html"><span>New Entry</span> <i class="material-icons">add</i></a>
                </div>
            </div>
        </header>
        <section>
            <div class="container">
                <div class="edit-entry">
                    <h2>Edit Entry</h2>
                    <form method="POST" action="">
                        {{ render_edit_field(form.title, entry.title) }}
                        {{ render_edit_field(form.date, entry.date.strftime('%Y-%m-%d')) }}
                        {{ render_edit_field(form.time_spent, entry.time_spent) }}
                        <!--{{ render_edit_field(form.learned, entry.learned) }}
                        {{ render_edit_field(form.ressources, entry.ressources) }}
                        {{ form.learned(value=entry.learned) }}
                      -->{{ form.learned.label }}
                        <textarea id="what-you-learned" rows="5" value="{{ entry.learned }}">{{ entry.learned }}</textarea><br>
                        {{ form.ressources.label }}
                        <textarea id="resources-to-remember" rows="5" value="{{ entry.ressources }}">{{ entry.ressources }}</textarea><br>
                        <input type="submit" value="Update Entry" class="button">
                        <a href="{{ url_for('index') }}" class="button button-secondary">Cancel</a>

                        {% for field in form, content in entry.data %}
                          {{ render_field_edit(field, content) }}
                        {% endfor %}


                        <!--<label for="title"> Title</label>
                        {{ form.title(value=entry.title) }}<br>
                        <label for="date">Date</label>
                        {{ form.date(value=entry.date.strftime('%Y-%m-%d')) }}<br>
                        <label for="time-spent"> Time Spent</label>
                        {{ form.time_spent(value=entry.time_spent) }} hours<br>
                        <label for="what-i-learned">What you Learned</label><br>
                        <textarea id="what-i-learned" rows="5" name="whatILearned">{{ entry.learned }}</textarea><br>
                        <label for="resources-to-remember">Resources to Remember</label><br>
                        <textarea id="resources-to-remember" rows="5" name="ResourcesToRemember">{{ entry.ressources }}</textarea><br>
                        <input type="submit" value="Update Entry" class="button">
                        <a href="{{ url_for('index') }}" class="button button-secondary">Cancel</a>
                    </form>-->

                    <!--<form method="POST" action="">
                        <label for="title"> Title</label>
                        <input id="title" type="text" name="title">{{ form.title(value=entry.title) }}<br>
                        <label for="date">Date</label>
                        <input id="date" type="date" name="date">{{ form.date(value=entry.date.strftime('%Y-%m-%d')) }}<br>
                        <label for="time-spent"> Time Spent</label>
                        <input id="time-spent" type="text" name="timeSpent">{{ form.time_spent(value=entry.time_spent) }} hours<br>
                        <label for="what-i-learned">What I Learned</label>
                        <textarea id="what-i-learned" rows="5" name="whatILearned">{{ form.learned(value=entry.learned) }}</textarea>
                        <label for="resources-to-remember">Resources to Remember</label>
                        <textarea id="resources-to-remember" rows="5" name="ResourcesToRemember">{{ form.ressources(value=entry.ressources) }}</textarea>
                        <input type="submit" value="Publish Entry" class="button">
                        <a href="{{ url_for('index') }}" class="button button-secondary">Cancel</a>
                    </form>
                  -->
                </div>
            </div>
        </section>
        <footer>
            <div>
                &copy; MyJournal
            </div>
        </footer>
    </body>
</html>
